{% extends 'EnsSylvainDavenelBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/enssylvaindavenel/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
    <div id="jobs">
        {% for category in categories %}
            <div class="category_{{ category.slug }}">
                <h1><a href="{{ path('ens_category_show', { 'slug': category.slug }) }}">{{ category.name }}</a></h1>
                {% include 'EnsSylvainDavenelBundle:job:list.html.twig' with {'jobs': category.activejobs} %}
                {% if category.morejobs %}
                    <div class="feed">
                        <a href="{{ path('ens_category_show', { 'slug': category.slug, '_format': 'atom' }) }}">Feed</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}